<!doctype html>
<html>
	<head>
		 <title>Shakespeare Reader</title>
			<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
         <link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Shakespeare Reader</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href='/profile'>File Browser</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/viewer">Viewer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/account">Account</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">

			<h1 class='text-center'>Shakespeare Reader</h1>
			 <div class="jumbotron text-center">
				 <h1><span class='fa fa-lock'></span></h1>
					<h3>Login to view and save texts</h3>
				  <a href="/login" class="btn btn-secondary"><span class="fa fa-user"></span> Local Login</a>
				  <a href="/signup" class="btn btn-secondary"><span class="fa fa-user"></span> Local Signup</a>
				  <br>
              <br>
				  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
				  <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
				  <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
			 </div>
		</div>
	</body>
</html>
